/*Hex Codes: 
brown #854d27, 
orange #dd7230, 
yellow #f4c95d, 
pale green #d5dddb, 
black #1a1a1a,
white #f2f4ef
off white f2f4f3, #e1e1e1

body div {
    margin: 1%;}
*/

header,
footer {
    background: linear-gradient(90deg, #ffaccb, #8dc6ff);
}


.page-title {
    text-align: center;
}

.profile-pic {
    position: relative;
    left: 3vw;
    /*margin-top: 10%;
    margin-bottom: 10%;
    margin: 5vh 10vw;*/
    padding: 5vh 0;
    border-radius: 50%;
    width: 100%;
    max-height: 95%;
    max-width: 80%;

}


.descr {
    margin: 10vh 10vw;
    padding: 5vh 0vw;
}

.childForm {
    padding: 0vh 20vw;
}

input,
select {
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    font: inherit;
}

input::placeholder,
select::placeholder {
    transition: opacity .25s;
}

input:focus::placeholder,
select::placeholder {
    opacity: 0;
}