/*Hex Codes: 
brown #854d27, 
orange #dd7230, 
yellow #f4c95d, 
pale green #d5dddb, 
black #1a1a1a,
white #f2f4ef
off white f2f4f3, #e1e1e1
*/

body div {
    margin: 1%
}

.page-title {
    text-align: center;
}

footer a:link {
    color: #854d27;
}

a:link {
    text-decoration: none;
    color: #852f27;
}

a:visited {
    text-decoration: none;
}

.profile-pic {
    position: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 50%;
    width: 80%;
    max-height: 95%;
    max-width: 100%;
}

.descr {
    padding: 5%;
}