/*Hex Codes: 
brown #854d27, 
orange #dd7230, 
yellow #f4c95d, 
pale green #d5dddb, 
black #1a1a1a,
white #f2f4ef
off white f2f4f3, #e1e1e1
*/
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0%;
    width: 15vw;
}

body {
    place-content: center;
}

.welcome-text {
    text-align: center;
    padding: 2vh 0vw;
}

.center-text {
    text-align: center;

}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #854d27;
}

.button2:hover {
    background-color: #854d27;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #dd7230;
}

.button3:hover {
    background-color: #dd7230;
    color: white;
}