<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/components :: baseHead(~{::title})">
	<title>Add Buffet - Catering Service</title>
</head>
<body>
<h1>Public - Add a buffet</h1>

<!--/*@thymesVar id="buffet" type="it.uniroma3.siw.siwcateringservice.model.Buffet"*/-->
<form method="POST" th:action="@{/addBuffet}" th:object="${buffet}">
	<div th:if="${#fields.hasGlobalErrors()}">
		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
	</div>
	<p th:text="${uName}">UserName </p>
	<p th:text="${uName2}">UserName 2</p>
	<div>
		<span>Name:</span>
		<span>
				<label>
					<input th:field="*{name}" type="text"/>
				</label>
				</span>
		<span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
	</div>
	<div>
		<span>Description:</span>
		<span>
				<label>
					<input th:field="*{description}" type="text"/>
				</label>
			</span>
		<span th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></span>
	</div>
	<div>
		<span><button type="submit">Conferma</button></span>
	</div>
</form>
</body>
<div th:replace="fragments/components :: footer"></div>
</html>