<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Confirm Buffet Removal - Catering Service</title>
	<link th:href="@{/css/basestyle.css}" rel="stylesheet" href="../../static/css/basestyle.css">
	<link th:href="@{/css/confirmPage.css}" rel="stylesheet" href="../../static/css/confirmPage.css">

</head>
<header>
	<h1 class="header-title">Are you sure you want to remove this?</h1>
</header>

<body>

	<div class="parentCol, error-text">
		<!--/*@thymesVar id="buffet" type="it.uniroma3.siw.siwcateringservice.model.Buffet"*/-->

		<div class="childCol" th:text="'You are about to remove: ' + ${buffet.name}">You are about to remove:
			aTastyBuffet</div>

		<table class="greyGridTable">
			<tbody>
				<tr>
					<td>
						<form method="POST" th:action="@{'/admin/remove/confirm/buffet' + '/' + ${buffet.id}}"
							th:object="${buffet}">

							<button class="button button1" type="submit">Confirm</button>
						</form>
					</td>
					<td>
						<a class="button button2" href="error.html" th:href="@{'/buffets'}" th:text="Cancel">Cancel</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>

<footer th:replace="fragments/components :: footer">
	<div id="footer-links">
		<span><a href="/index.html">HomeTEST</a> - </span>
		<a href="/index.html" th:href="@{/logout}">Logout </a>
	</div>
</footer>

</html>