<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::title}))">
	<title>Confirm Buffet Removal - Catering Service</title>
	<link rel="stylesheet" href="../../static/css/basestyle.css">
	<link rel="stylesheet" href="../../static/css/confirmPage.css">

</head>
<header>
	<h1>Buffets list</h1>
</header>

<body>
	<table class="greyGridTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Chef</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${buffets.empty}">
				<td colspan="3"> No Buffets Available </td>
			</tr>
			<!--/*@thymesVar id="chefs" type="it.uniroma3.siw.siwcateringservice.model.Chef"*/-->
			<tr th:each="buffet : ${buffets}">
				<td>
					<a href="buffet.html/0" th:href="@{'/buffet' + '/' + ${buffet.id}}" th:text="${buffet.name}">Buffet
						di Nonna Pina</a>
				</td>

				<td>
					<!--/*@thymesVar id="buffet" type="it.uniroma3.siw.siwcateringservice.model.Buffet"*/-->
					<a href="chef.html/0" th:href="@{'/chef' + '/' + ${buffet.chef.id}}"
						th:text="${buffet.chef.firstName} + ' ' + ${buffet.chef.lastName}">Carlo Cracco</a>
				</td>

				<td>
					<form method="POST" th:action="@{'/remove/ask/buffet' + '/' + ${buffet.id}}" th:object="${buffet}">
						<button class="button button2" type="submit">Remove</button>
						<a class="button button2" href="chef.html/0"
							th:href="@{'/editBuffetForm' + '/' + ${buffet.id}}">Edit</a>
					</form>

				</td>
			</tr>

		</tbody>
	</table>

</body>

<footer th:replace="fragments/components :: footer">
	<div id="footer-links">
		<span><a href="/index.html">HomeTEST</a> - </span>
		<a href="/index.html" th:href="@{/logout}">Logout </a>
	</div>
</footer>

</html>