<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::title}))">
	<title>Buffet details</title>
	<link rel="stylesheet" href="../../static/css/basestyle.css">
	<link rel="stylesheet" href="../../static/css/detailPage.css">
</head>

<header>
	<h1 class="header-title">Buffet details</h1>
</header>

<body>
	<div class="parent">

		<!--/*@thymesVar id="buffet" type="it.uniroma3.siw.siwcateringservice.model.Buffet"*/-->
		<div class="child, descr" th:if="${buffet}">
			<h1 th:text="${buffet.name}">Buffet name </h1>
			<div th:text="${buffet.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

			<div th:text="'Chef: ' + ${buffet.chef}">
				Chef: Carlo Cracco
			</div>
			<ul>

				<li th:each="dish : ${buffet.offeredDishes}">
					<a href="dish.html/0" th:href="@{'/dish' + '/' + ${dish.id}}"
						th:text="${dish.name} + ', ' + ${dish.description}">Pasta al sugo, an italian dish</a>
				</li>
			</ul>
		</div>
		<div class="child">
			<img class="profile-pic" src="../static/images/buffet.jpeg" alt="buffet picture">
		</div>
		<!--<div th:unless="${buffet}">This buffet does not exist.</div>-->

	</div>
</body>

<footer th:replace="fragments/components :: footer">
	<div id="footer-links">
		<span><a href="/index.html">HomeTEST</a> - </span>
		<a href="/index.html" th:href="@{/logout}">Logout </a>
	</div>
</footer>

</html>