<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/components :: baseHead(~{::title})">
	<title>Confirm removal</title>
</head>
<body>
<div>
	<h4>Are you sure you want to remove this?</h4>

	<!--/*@thymesVar id="chef" type="it.uniroma3.siw.siwcateringservice.model.Chef"*/-->
	<div th:text="'Remove ' + ${chef.firstName} +' '+ ${chef.firstName}">Remove Carlo Cracco</div>

	<form method="POST" th:action="@{'/remove/confirm/chef' + '/' + ${chef.id}}" th:object="${chef}">
		<span><button type="submit">Confirm</button></span>
	</form>
	<a href="error.html"
	   th:href="@{'/chefs'}"
	   th:text="Cancel">Cancel</a>

</div>
</body>
<div th:replace="fragments/components :: footer"></div>
</html>

