<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::title}))">
	<title>Confirm Chef Removal - Catering Service</title>
	<link rel="stylesheet" href="../../static/css/basestyle.css">
	<link rel="stylesheet" href="../../static/css/confirmPage.css">

</head>
<header>
	<h1 class="header-title">Are you sure you want to remove this?</h1>
</header>

<body>
	<div class="parentCol, error-text">
		<!--/*@thymesVar id="chef" type="it.uniroma3.siw.siwcateringservice.model.Chef"*/-->
		<div class="childCol" th:text="'You are about to remove: ' + ${chef.firstName} +' '+ ${chef.firstName}">You are
			about to remove:
			Carlo Cracco</div>

		<table class="greyGridTable">
			<tbody>
				<tr>
					<td>
						<form method="POST" th:action="@{'/remove/confirm/chef' + '/' + ${chef.id}}"
							th:object="${chef}">
							<button class="button button1" type="submit">Confirm</button>
						</form>
					</td>
					<td>
						<a class="button button2" href="error.html" th:href="@{'/chefs'}" th:text="Cancel">Cancel</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
<footer th:replace="fragments/components :: footer">
	<div id="footer-links">
		<span><a href="/index.html" th:href="@{/}">HomeTEST</a> - </span>
		<span th:if="${authenticated}"><a href="/index.html" th:href="@{/logout}">Logout </a></span>
		<span th:unless="${authenticated}">Not authenticated</span>
	</div>
</footer>

</html>