<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/components :: baseHead(~{::title})">
	<title>Dish details</title>
</head>
<body>
<div>
	<h4>Dish details</h4>

	<!--/*@thymesVar id="dish" type="it.uniroma3.siw.siwcateringservice.model.Dish"*/-->
	<div th:if="${dish}">
		<div>
			<div th:text="${dish.name}">Tagliatelle di Nonna Pina</div>
			<div th:text="${dish.description}">A tasteful dish made with love</div>
		</div>
<ul>
		<li th:each="ingredient : ${dishIngredientsList}">
			<a href="ingredient.html/0"
			   th:href="@{'/ingredient' + '/' + ${ingredient.id}}"
			   th:text="${ingredient.name} + ', ' + ${ingredient.origin}">Sugar, Mexico</a>
		</li>
</ul>
	</div>

	<div th:unless="${dish}">This dish does not exist.</div>

	<!--<h4>Dettagli persona</h4>
	<div th:object="${ingredient}">
		<span th:text="*{nome}">Paolo</span>
		<span th:text="*{cognome}">Rossi</span>
	</div>-->


</div>
</body>
<div th:replace="fragments/components :: footer"></div>
</html>
