<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/components :: baseHead(~{::title})">
    <title>Dishes list</title>
</head>
<body>
<h4>Dishes list</h4>
<ul>

    <!--/*@thymesVar id="dishes" type="it.uniroma3.siw.siwcateringservice.model.Dish"*/-->
    <li th:each="dish : ${dishes}">
        <a href="dish.html/0"
           th:href="@{'/dish' + '/' + ${dish.id}}"
           th:text="${dish.name} + ', ' + ${dish.description}">Tagliatelle di Nonna Pina, Italy</a>

        <br>
        <form method="POST" th:action="@{'/remove/ask/dish' + '/' + ${dish.id}}" th:object="${dish}">
                <button type="submit">Remove</button>
        </form>
    </li>
</ul>
</body>
<div th:replace="fragments/components :: footer"></div>
</html>

