<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::links}))">
	<title>Buffet details</title>
	<link th:href="@{/css/basestyle.css}" rel="stylesheet" href="../../static/css/basestyle.css">
	<link th:href="@{/css/detailPage.css}" rel="stylesheet" href="../../static/css/detailPage.css">
</head>

<header>
	<h1 class="header-title">Dish details</h1>
</header>

<body>
	<div class="parent">
		<!--/*@thymesVar id="dish" type="it.uniroma3.siw.siwcateringservice.model.Dish"*/-->
		<div class="child, descr" th:if="${dish}">
			<div>
				<h1 th:text="${dish.name}">Tagliatelle di Nonna Pina</h1>
				<div th:text="${dish.description}">A tasteful dish made with love</div>
			</div>
			<ul>
				<li th:each="ingredient : ${dish.ingredients}">
					<a href="ingredient.html/0" th:href="@{'/ingredient' + '/' + ${ingredient.id}}"
						th:text="${ingredient.name} + ', ' + ${ingredient.origin}">Sugar, Mexico</a>
				</li>
			</ul>
		</div>

		<div class="child">
			<img class="profile-pic" th:src="@{/images/pasta.jpeg}" src="../static/images/pasta.jpeg"
				alt="dish picture">
		</div>

		<!--<div th:unless="${dish}">This dish does not exist.</div>-->

	</div>
</body>
<footer th:replace="fragments/components :: footer">
	<div id="footer-links">
		<span><a href="/index.html">HomeTEST</a> - </span>
		<a href="/index.html" th:href="@{/logout}">Logout </a>
	</div>
</footer>

</html>