<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
    <title>Dishes @ Catering Service</title>
    <link th:href="@{/css/basestyle.css}" rel="stylesheet" href="../../static/css/basestyle.css">
    <link th:href="@{/css/listPage.css}" rel="stylesheet" href="../../static/css/listPage.css">

</head>
<header>
    <h1>Dishes list</h1>
</header>

<body>
    <table class="greyGridTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <!--/*@thymesVar id="dishes" type="java.util.List<Dish>"*/-->
            <tr th:if="${dishes.isEmpty()}">
                <td colspan="3"> No Buffets Available </td>
            </tr>
            <tr th:each="dish : ${dishes}">
                <td>
                    <a href="dish.html/0" th:href="@{'/dish' + '/' + ${dish.id}}" th:text="${dish.name}">Tagliatelle di
                        Nonna Pina</a>
                </td>

                <td>
                    <span th:text="${dish.description}">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. </span>
                </td>

                <td>
                    <form method="POST" th:action="@{'/remove/ask/dish' + '/' + ${dish.id}}" th:object="${dish}">
                        <button class="button button2" type="submit">Remove</button>
                        <a class="button button2" href="chef.html/0"
                            th:href="@{'/editDishForm' + '/' + ${dish.id}}">Edit</a>
                    </form>

                </td>
            </tr>

        </tbody>
    </table>
</body>
<footer th:replace="fragments/components :: footer">
    <div id="footer-links">
        <span><a href="/index.html">HomeTEST</a> - </span>
        <a href="/index.html" th:href="@{/logout}">Logout </a>
    </div>
</footer>

</html>