<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Edit Dish - Catering Service</title>
	<link th:href="@{/css/basestyle.css}" rel="stylesheet" href="../../static/css/basestyle.css">
	<link th:href="@{/css/detailPage.css}" rel="stylesheet" href="../../static/css/detailPage.css">
</head>
<header>
	<h1 class="header-title">Edit this dish</h1>
</header>

<body>
	<div class="parent">

		<div class="child">
			<!--/*@thymesVar id="dish" type="it.uniroma3.siw.siwcateringservice.model.Dish"*/-->
			<form method="POST" th:action="@{/admin/edit/dish/{id}(id=${dish.id})}" th:object="${dish}">
				<div class="error-text" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> this will contain errors </p>
				</div>

				<table class="greyGridTable">
					<tbody>
						<tr>
							<td>Name:</td>
							<td>
								<label>
									<input th:field="*{name}" type="text" th:value="*{name}" />
								</label>
							</td>
							<td>
								<span class="error-text" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">
									error name
								</span>
							</td>
						</tr>
						<tr>
							<td>Description:</td>
							<td>
								<label>
									<input th:field="*{description}" type="text" th:value="*{description}" />
								</label>
							</td>
							<td>
								<span class="error-text" th:errors="*{description}"
									th:if="${#fields.hasErrors('description')}">
									error description</span>
							</td>
						</tr>
						<tr>
							<td>Chef:</td>
							<td><select th:field="*{chef}">
									<option value="">---</option>
									<!--/*@thymesVar id="chefsList" type="it.uniroma3.siw.siwcateringservice.model.Chef"*/-->
									<option th:each="c : ${chefsList}" th:value="${c.id}" th:text="${c}">Carlo Cracco
									</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>


				<div>
					<!--/*@thymesVar id="ingredientsList" type="java.util.List<Ingredient>"*/-->
					<fieldset>
						<legend>Select Ingredients</legend>
						<!--/*@thymesVar id="ingredientsList" type="java.util.List<Ingredient>"*/-->
						<div th:each="ingredient: ${ingredientsList}">
							<input type="checkbox" id="${ingredientsList}" th:field="*{ingredients}" name="ingredient"
								th:value="${ingredient.id}">
							<label for="${ingredientsList}" th:text="${ingredient.name}">Ingredient name</label>
						</div>
					</fieldset>
				</div>
				<div class="btn-div">
					<span><button type="submit">Confirm</button></span>
				</div>
			</form>
		</div>
	</div>
</body>
<footer th:replace="fragments/components :: footer">
	<div id="footer-links">
		<span><a href="/index.html">HomeTEST</a> - </span>
		<a href="/index.html" th:href="@{/logout}">Logout </a>
	</div>
</footer>


</html>