<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
    <title>Public Home Page - Catering Service </title>
    <link th:href="@{/css/basestyle.css}" rel="stylesheet" href="../../static/css/basestyle.css">
    <link th:href="@{/css/listPage.css}" rel="stylesheet" href="../../static/css/listPage.css">

</head>
<header>
    <h1 class="header-title">Catering Service</h1>
</header>

<body>

    <div class="center-text">[DEBUG]index.html</div> <!-- TODO remove this -->

    <h2 class="welcome-text">Welcome to the public interface of the Catering Service.</h2>

    <table class="greyGridTable">
        <tbody>
            <tr>
                <td><a class="button button1" href="/admin" th:href="@{/admin}">Administration</a>
                </td>
            </tr>
            <tr>
                <td><a class="button button2" href="/buffets" th:href="@{/buffets}">View buffets and
                        details</a></td>
            </tr>
            <tr>
                <td><a class="button button2" href="/register" th:href="@{/register}">Register</a></td>
            </tr>

        </tbody>
    </table>

</body>
<footer th:replace="fragments/components :: footer">
    <div id="footer-links">
        <span><a href="/index.html">HomeTEST</a> - </span>
        <a href="/index.html" th:href="@{/logout}">Logout </a>
    </div>
</footer>

</html>