<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHead(~{::title})">
    <title>Catering Service - Home Page</title>
    <link rel="stylesheet" href="../../static/css/basestyle.css">
</head>

<body>
    <div>[DEBUG]index.html</div>
    <h2>Welcome to the Catering Service.</h2>

    <!--<div><a href="/index.html" th:href="@{/public/add/buffet}">add buffet public</a></div>
<div><a href="/index.html" th:href="@{/private/add/chef}">add chef private</a></div>-->
    <div><a href="/ingredients" th:href="@{/ingredients}">Administration</a></div>
    <div><a href="/ingredientsForm" th:href="@{/ingredientForm}">View buffets and details</a></div>


</body>
<footer th:replace="fragments/components :: footer">
    <div id="footer-links">
        <span><a href="/index.html">HomeTEST</a> - </span>
        <a href="/index.html" th:href="@{/logout}">Logout </a>
    </div>
</footer>

</html>