<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/components :: baseHead(~{::title})">
	<title>Ingredient details</title>
</head>
<body>
<div>
	<h4>Ingredient details</h4>

	<!--/*@thymesVar id="ingredient" type="it.uniroma3.siw.siwcateringservice.model.Ingredient"*/-->
	<div th:if="${ingredient}">
		<div>
			<span th:text="${ingredient.name}">Sugar, </span>
			<span th:text="${ingredient.origin}">Mexico</span>
		</div>
		<div>
			<span th:text="${ingredient.description}">A wonderful description of a tasteful ingredient</span>
		</div>
	</div>

	<div th:unless="${ingredient}">This ingredient does not exist.</div>

	<!--<h4>Dettagli persona</h4>
	<div th:object="${ingredient}">
		<span th:text="*{nome}">Paolo</span>
		<span th:text="*{cognome}">Rossi</span>
	</div>-->


</div>
</body>
<div th:replace="fragments/components :: footer"></div>
</html>
