<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/components :: baseHead(~{::title})">
	<title>Add an ingredient</title>
</head>
<body>
<h1>Add an ingredient</h1>

<!--/*@thymesVar id="ingredient" type="it.uniroma3.siw.siwcateringservice.model.Ingredient"*/-->
<form method="POST" th:action="@{/ingredient}" th:object="${ingredient}">
	<div th:if="${#fields.hasGlobalErrors()}">
		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
	</div>
	<div>
		<span>Name:</span>
		<span>
				<label>
					<input th:field="*{name}" type="text"/>
				</label>
				</span>
		<span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
	</div>
	<div>
		<span>Origin:</span>
		<span>
				<label>
					<input th:field="*{origin}" type="text"/>
				</label>
			</span>
		<span th:errors="*{origin}" th:if="${#fields.hasErrors('origin')}"></span>
	</div>
	<div>
		<span>Description:</span>
		<span>
				<label>
					<input th:field="*{description}" type="text"/>
				</label>
				</span>
		<span th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></span>
	</div>
	<div>
		<span><button type="submit">Add</button></span>
	</div>
</form>
</body>
<div th:replace="fragments/components :: footer"></div>
</html>