<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/components :: baseHead(~{::title})">
    <title>Ingredients list</title>
</head>
<body>
<h4>Ingredients list</h4>
<ul>

    <!--/*@thymesVar id="ingredients" type="it.uniroma3.siw.siwcateringservice.model.Ingredient"*/-->
    <li th:each="ingredient : ${ingredients}">
        <a href="ingredient.html/0"
           th:href="@{'/ingredient' + '/' + ${ingredient.id}}"
           th:text="${ingredient.name} + ', ' + ${ingredient.origin}">Sugar, Mexico</a>
        <br>
        <form method="POST" th:action="@{'/remove/ask/ingredient' + '/' + ${ingredient.id}}" th:object="${ingredient}">
                <button type="submit">Remove</button>
        </form>
    </li>
</ul>
</body>
<div th:replace="fragments/components :: footer"></div>
</html>

